.statistics .title{
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 40px;
}
.statistics .text{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 25px;
}
.statistics .buttons{
	display: flex;
	align-items: center;
}
.statistics .button{
	margin-right: 15px;
	font-size: 20px;
}
.statistics .button:hover{
	cursor: pointer;
}
.statistics .list-statistics{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.statistics .item-statistics{
	font-size: 25px;
	margin-bottom: 15px;
}